[submodule "3rdParty/Noesis-Managed"]
	path = 3rdParty/Noesis-Managed
	url = git@github.com:ManoxCZ/Noesis-Managed.git
[submodule "3rdParty/BepuPhysics"]
	path = 3rdParty/BepuPhysics
	url = https://github.com/bepu/bepuphysics2.git
